<div class="title">
    <h2><i class="fa-solid fa-ship"></i> Vessel.AI</h2>
</div>
<div class="slider">
    <h1 class="animated-text">Seas of</h1>
    <!-- <h1 class="animated-text">of</h1> -->
    <h1 class="animated-text">Opportunity</h1>
    <button class= btn (click)="navigateToSecondPage()"><i class="fa-solid fa-magnifying-glass"></i> Explore Now</button>
</div>
<div class="background-animation">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>