<div class="top-right-links">
    <a href="login.html" target="_blank">LOGIN</a>
    <a href="https://www.maritime-executive.com/" target="_blank">NEWS</a>
  </div><div class="title">
    <h2><i class="fa-solid fa-ship"></i> Vessel.AI</h2>
</div>
<div class="slider">
    <h1 class="animated-text">Seas of</h1>
    <!-- <h1 class="animated-text">of</h1> -->
    <h1 class="animated-text">Opportunity</h1>
    <button class= btn (click)="navigateToSecondPage()"><i class="fa-solid fa-magnifying-glass"></i> Explore Now</button>
</div>
<div class="background-animation">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>