/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(28, 123, 196, 0.24);
    color: aliceblue;
} */
 /* Global Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
ngx-datatable.custom-datatable .datatable-header {
    background-color: #0047ab;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #003580;
  }
  
  ngx-datatable.custom-datatable .datatable-body-row {
    background-color: #f9f9f9;
    color: #333;
    border-bottom: 1px solid #ccc;
  }
  
  ngx-datatable.custom-datatable .datatable-body-row:nth-child(even) {
    background-color: #e6f7ff;
  }
  
  
