<div class="container">
  <div class="section content-section" id="vessel-cards">
    <div class="straightrow">
      <h2>Prospective Clients</h2>
      <i class="fa fa-home home-logo" (click)="goToHome()"></i>
    </div>
    
    
    <app-vessel-card></app-vessel-card>
    <div>
      <button id="Chatbox" (click)="toggleChatbotModal()">
        <i class="fa-brands fa-rocketchat"></i>
      </button>
    </div>
  </div>

  <!-- Modal for Chatbot -->
  <div class="modal" id="chatbot-modal">
    <div class="modal-content">
      <app-chatbot></app-chatbot>
      <button class="close-btn" (click)="toggleChatbotModal()">x</button>
    </div>
  </div>
</div>
