<div class="container">
    <!-- Header Section -->
    <div class="section header-section" id="generate-clients">
      <h2>Generate Prospective Clients</h2>
      <button id="generateBtn">Generate</button>
    </div>
  
    <!-- Content Section (Table and Data) -->
    <div class="section content-section" id="vessel-cards">
      <h2>Company List</h2>
      <app-vessel-card></app-vessel-card>
    </div>
  
    <!-- Footer Section (Chatbot) -->
    <div class="section footer-section" id="chatbot">
      <h2>Chatbot</h2>
      <div class="chatbot-style">
        <app-chatbot></app-chatbot>
      </div>
    </div>
  </div>
  